section.left-pane-container {
   grid-area: left-pane;
   margin: 0;
   margin-right: 10px;
   border: 1px solid grey;	
   overflow: hidden;
   z-index: var(--z-idx-max);
}

.left-pane-content {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto calc(100vh - 90px);
   grid-template-areas: 
      'left-pane-s1'
      'left-pane-s2';
   font-size: var(--pt7r-font);
}

.left-pane-content > div {
   border: 3px dashed black;
}

.left-pane-content .search-wrapper {
   padding: 3px;
   grid-area: left-pane-s1;
   background-color: white;
}

.search-input-group {
   margin: 3px;
   display: flex;
   flex-direction: row;
   width: 100%;
   border: 1px solid black;
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
}

.search-input-group input {
   width: 100%;
   border: none;
}

.search-input-group input[type="search"]::-webkit-input-placeholder,
.search-input-group input[type="search"]::placeholder {
   padding-left: 10px;
   color: red;
}

.left-pane-content .search-action {
   color: grey;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   width: auto;
}
   
.left-pane-content .results-container {
   grid-area: left-pane-s2;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr auto;
   background-color: palevioletred;
}
      
.results-header {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   background-color: white;
}

.results-header > div {
   flex: 1;
}

.results-header .results-count {
   flex: 1;
   display: flex;
   justify-content: center;
}

.results-body {
   background-color: slateblue;
   overflow-y: auto;
   position: relative;
}

#results_filter_button {
   position: absolute;
   top: 15px;
   right: 15px;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   border: 3px solid white;
}

#results_scroll_top_button {
   position: absolute;
   bottom: 15px;
   right: 15px;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 1px solid black;
}

.results-body .results-list-wrapper {
   background-color: white;
   font-family: 'Roboto' sans-serif;
}

.result-item {
   padding: 0 var(--pad15p);
}

.result-item .result-item-title {
   font-weight: 600;
}

.result-item:last-of-type {
   border: 1px solid gold;
}

.result-item > *,
.result-item > * > * {
   line-height: 2;
   width: 100%;
}