.grid-1col {
   display: grid;
   grid-template-columns: 1fr;
}

.grid-2col {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}


/* DIVIDERS */
.v-divider {
   border-right: 1px solid blue;
   height: 100%;
}

.h-divider-grey-50 {
   border-bottom: 1px solid var(--grey-line-50);
   height: 100%;
}


/* VISIBILITY */
.hide {
   display: none !important;
}


/* FLEX */
.flex-row-center-btw {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.flex-end,
.flex-row-center-end {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
}

.flex-row-center-around {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.flex-col-start {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
}

.flex-col-center-btw {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.flex-1 {
   flex: 1;
}


/* LINE HEIGHTS */
div.line-pt6 {
	line-height: .6;
}

div.line-height-pt6 {
	line-height: .6;
}

div.line-3pt {
	line-height: 3;
}

div.line-1pt {
	line-height: 1;
}


/* PADDING */
.pad-round-5px {
   padding: 5px
}

.pad-b-5px {
   padding-bottom: 5px;
}

.pad-lr-5px {
   padding: 0;
   padding-left: 5px;
   padding-right: 5px
}

.pad-lr-10px {
   padding: 0;
   padding-left: 10px;
   padding-right: 10px
}

.pad-td-5px {
   padding: 0;
   padding-top: 5px;
   padding-bottom: 5px;
}

.pad-tr-5px {
   padding: 0;
   padding-top: 5px;
   padding-right: 5px;
}

.pad-trb-5px {
   padding: 0;
   padding-top: 5px;
   padding-right: 5px;
   padding-bottom: 5px;
}


/* SCROLLBAR */
::-webkit-scrollbar {
   width: var(--scrollbar-width);
   border-left: 0;
   background: rgba(0, 0, 0, 0.2);
}

/* ::-webkit-scrollbar-track {
   background: none;
} */

::-webkit-scrollbar-thumb {
   background: var(--scrollbar-color);
   /* background: #e84118 ; */
   height: auto;
   border-radius: 0;
}