extends dashboard-index.pug

block 404

   .main-container

      .error-page-wrapper

         section.top-section
            h1
               span Status
               span= `${err_status_code}`
               span Access blocked
            //- p You do not have permission to view this resource.
            p= err_msg

         .page-graphic
            img(src="/assets/images/noun-dark-contour.svg" alt="" viewBox="0 0 100 120")

         section.bottom-section
            h1
               div
                  a.btn.btn-primary(href="/landing" role="button") Sign In
                     i(class="fas fa-arrow-circle-right")