extends dashboard-index.pug

block 404

   .main-container

      .error-page-wrapper

         section.top-section
            h1
               span STATUS
               span= `${err_status_code}`
               span Access blocked.
            p= err_msg
         
            button#return_to_landing_btn.btn.btn-primary.ripplelink(href="/landing" role="button")
               a(href="/landing" role="button") Sign In
                  i(class="fas fa-arrow-circle-right")

         section.bottom-section
            //- .color-div

         //- script to disable sign-in btn. after click
         script(src="/src/js/404.js" type="module") 