extends base

block append landing-page-head-scripts
  script(src="https://unpkg.com/axios/dist/axios.min.js")

block landing-page

  .floating-pane
    div 26 AGCS
    div 7,100 Farmers

  .welcome-pane-container

    .welcome-pane-content

      .welcome-pane-header
        .brand-logo
          img(src='./assets/icons/agronomy-two-tone.svg' alt='')
          // <img src="./assets/logos/nirsal-logo.png" alt="">
        .brand-name NIRSAL
        h1.brand-title
          div AGRO
          div(style=`display: flex; align-items: flex-start;`)
            span GEO-CLUSTERS
          div PLATFORM

      .welcome-pane-body
        .card.card-body
          //- div NIRSAL AGC® Platform
          div Sign In to Your Account
          form.form.form--login(action='/dashboard' method='GET')
            .form-group
              label(for='login_email') Email Address
              input#login_email.form-control(type='email' name='email' placeholder='Enter Email', required)
            .form-group
              label(for='login_password') Password
              input#login_password.form-control(type='password' name='password' placeholder='Enter Password', required, minlength='8')
              a(href="#") Forgot Password?
            button.btn.btn-primary.btn-block.btn-sm(type='submit') Submit
            div Don't have an account? 
              a(href="#") Request for access.

      .welcome-pane-footer
        .login-alert-wrapper
        p &copy; 
          script.
            document.write(new Date().getFullYear())
          span  NIRSAL PLC. All Rights Reserved.
        nav
          a(href='#') Terms
          a(href='#') Privacy
          a(href='#') Security

  #landing_page_map_cont

  //- 
  script(type='module').

    `use strict`
    import { MAPBOX_TOKEN, BING_MAPS_TOKEN } from "/src/js/config/maps-config.js";

    (function() {

      //- const LANDING_PAGE_MAP = L.map("landing_page_map", { zoomSnap: 0.01 })
      //-   .setView([36.8370066107919, 10.059871561852127], 15.5);

      //-   // BASEMAP BING MAPS TILE
      //-   const bingMapsTile = L.bingLayer(BING_MAPS_TOKEN, {
      //-     imagerySet: 'AerialWithLabels',
      //-     maxZoom: 28,
      //-     detectRetina: true,
      //-     retinaDpi: 'd2',
      //-     mapLayer: "TrafficFlow",
      //-     attribution: '&copy; FieldDev Group'
      //-   });

      //-   bingMapsTile.addTo(LANDING_PAGE_MAP);

      //- INIT. LANDING PAGE MAP
      mapboxgl.accessToken = `pk.eyJ1IjoibW9ub2xpdGhnb29uIiwiYSI6ImNrN3B1MnNjaDBhNTczcHFkdmJ0aHR6dWEifQ.O0mHuJ2wKNqKz3E_BIsnog`;
      const LANDING_PAGE_MAP = new mapboxgl.Map({
        attribution: `FieldDev Group`,
        container: `landing_page_map_cont`,
        style: `mapbox://styles/monolithgoon/ckqat05ss033418qmildmyau2`,
        center: [6.3, 7.9],
        pitch: 59,
        bearing: -2,
        zoom: 6.2,

        center: [11.65872, 10.30595],
        center: [12.63872, 10.30595],
        pitch: 70,
        bearing: 65,
        zoom: 11.88,
        zoom: 12.4,
      });

      LANDING_PAGE_MAP.on(`load`, function() {

        LANDING_PAGE_MAP.addSource(`mapbox-dem`, {
          'type': 'raster-dem',
          'url': 'mapbox://mapbox.mapbox-terrain-dem-v1',
          'tileSize': 512,
          'maxzoom': 14,
        });

        // FIXME > NOT WORKING
        // ADD THE DEM SOURCE AS A TERRAIN LAYER WITH EXAGGERATED HEIGHT
        LANDING_PAGE_MAP.setTerrain({"source": "mapbox-dem", "exaggeration": 5});

        // ADD A SKY LAYER THAT WILL SHOW WHEN THE MAP IS HIGHLY PITCHED
        LANDING_PAGE_MAP.addLayer({
          'id': 'sky', 
          'type': 'sky',
          'paint': {
            'sky-type': 'atmosphere',
            'sky-atmosphere-sun': [ 0.0, 0.0],
            'sky-atmosphere-sun-intensity': 15,
          } 
        });
      });


      //- ADD ZOOM & NAV. CONTROLS
      LANDING_PAGE_MAP.addControl(new mapboxgl.NavigationControl());
    })();