extends base

block append landing-page-head-scripts
  script(src="https://unpkg.com/axios/dist/axios.min.js")

block landing-page

  .floating-pane
    .top-section
      div 
        span #{totalNumClusters} 
        span AGCS
      div 
        span #{totalNumFeatures} 
        span FARMERS
    .bottom-section
      div 
        span NORTH CENTRAL
        span 2,230
      div 
        span NORTH EAST
        span 2,360
      div 
        span NORTH WEST
        span 550
      div 
        span SOUTH EAST 
        span 1,063
      div 
        span SOUTH
        span 110
      div 
        span SOUTH WEST 
        span 635 

  .welcome-pane-container

    .welcome-pane-content

      .welcome-pane-header
        .other-brands
        h1.brand-title
          div ACTIVE
          div VISUAL
          div.flex-row-start
            div GEO-COOP
          div.flex-row-start
            div MAP
            div.super-scr(style=`font-size: 1rem;`) &reg;
        .brand-logo

      .welcome-pane-body
        .card.card-body
          //- div NIRSAL AGC® Platform
          div.card--title Sign In to Your Account
          div#account_question Don't have an account? 
            a(href="#") Request access.
          a#password_question(href="#") Forgot Your Password?
          form.form.form--login(action='/dashboard' method='GET')
            #email_form_group.form-group
              //- label(for='login_email_input') Email Address
              input#login_email_input.form--input(type='email' name='email' placeholder='Enter Email Address', required, autofocus)
            #password_form_group.form-group
              //- label(for='login_password_input') Password
              input#login_password_input.form--input(type='password' name='password' placeholder='Enter Password', required, minlength='8', autofocus)
            .login-action-wrapper.flex-row-center-start
              button#login_next_btn(type='' disabled=true) Next
              button#login_back_btn(type='') Back
              button#login_submit_btn(type='submit' disabled=true)
                //- button#login_submit_btn.btn.btn-primary.btn-block.btn-sm(type='submit') Submit
                  span#login_submit_btn_txt Submit
                  span.app-activity-indicator
                span#login_submit_btn_txt Submit
                span.app-activity-indicator

      .welcome-pane-footer
        .login-alert-wrapper
        p &copy; 
          script.
            document.write(new Date().getFullYear())
          span  NIRSAL PLC. 
          span All Rights Reserved.
        nav
          a(href='#') Terms
          a(href='#') Privacy
          a(href='#') Security

  #landing_page_map_cont

  script(type='module').

    //- import { MAPBOX_TOKEN } from "/src/js/config/maps-config.js";

    (function() {

      //- Get the documentElement (<html>) to display the page in fullscreen
      var elem = document.documentElement;

      //- View in fullscreen
      function openFullScreen() {
        if (elem.requestFullscreen) {
          elem.requestFullscreen()
            .then(function() {
              // element has entered fullscreen mode successfully
              console.log('in fs')
            })
            .catch(function(error) {
              // element could not enter fullscreen mode
            });
        } else if (elem.webkitRequestFullscreen) { /* Safari */
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE11 */
          elem.msRequestFullscreen();
        };

        //- REMOVE THE CLICK LIST. AFTER 2 SECONDS
        if (!window.screenTop && !window.screenY) {
          console.log('Browser is in fullscreen');
          setTimeout(()=>{
            document.removeEventListener('click', openFullScreen);
          }, 2000)
        };        
      };

      //- INIT. LANDING PAGE MAP
      mapboxgl.accessToken = `pk.eyJ1IjoibW9ub2xpdGhnb29uIiwiYSI6ImNrN3B1MnNjaDBhNTczcHFkdmJ0aHR6dWEifQ.O0mHuJ2wKNqKz3E_BIsnog`;
      const LANDING_PAGE_MAP = new mapboxgl.Map({
        attribution: `FieldDev Group`,
        container: `landing_page_map_cont`,
        style: `mapbox://styles/monolithgoon/ckqat05ss033418qmildmyau2`,
        center: [6.3, 7.9],
        pitch: 59,
        bearing: -2,
        zoom: 6.2,

        //- center: [11.65872, 10.30595],
        //- center: [12.63872, 10.30595],
        //- pitch: 70,
        //- bearing: 65,
        //- zoom: 11.88,
        //- zoom: 12.4,
      });

      LANDING_PAGE_MAP.on(`load`, function() {

        LANDING_PAGE_MAP.addSource(`mapbox-dem`, {
          'type': 'raster-dem',
          'url': 'mapbox://mapbox.mapbox-terrain-dem-v1',
          'tileSize': 512,
          'maxzoom': 14,
        });

        // ADD THE DEM SOURCE AS A TERRAIN LAYER WITH EXAGGERATED HEIGHT
        LANDING_PAGE_MAP.setTerrain({"source": "mapbox-dem", "exaggeration": 5});

        // ADD A SKY LAYER THAT WILL SHOW WHEN THE MAP IS HIGHLY PITCHED
        LANDING_PAGE_MAP.addLayer({
          'id': 'sky', 
          'type': 'sky',
          'paint': {
            'sky-type': 'atmosphere',
            'sky-atmosphere-sun': [ 0.0, 0.0],
            'sky-atmosphere-sun-intensity': 15,
          } 
        });
      });


      //- ADD ZOOM & NAV. CONTROLS
      LANDING_PAGE_MAP.addControl(new mapboxgl.NavigationControl());

      const loginEmailInput = document.getElementById("login_email_input");
      const loginPasswordInput = document.getElementById("login_password_input");
      const loginNextBtn = document.getElementById("login_next_btn");
      const loginBackBtn = document.getElementById("login_back_btn");
      const loginSubmitBtn = document.getElementById("login_submit_btn");
      const loginSubmitBtnTxt = document.getElementById("login_submit_btn_txt");

      const appActivityInd = document.querySelector(`.app-activity-indicator`);

      //- DELEGATION

      //- CLICK PAGE FOR FULL SCREEN
      document.addEventListener('click', openFullScreen);

      if (loginEmailInput) {
        loginEmailInput.addEventListener('keyup', e => {

          openFullScreen();
          
          const isValid = loginEmailInput.checkValidity();
          if (isValid) {
            loginNextBtn.disabled = false;
          } else {
            loginNextBtn.disabled = true;
          };
        });
      };

      if (loginPasswordInput) {
        loginPasswordInput.addEventListener('keyup', e => {
          const isValid = loginPasswordInput.checkValidity();
          if (isValid) {
            loginSubmitBtn.disabled = false;
          } else {
            loginSubmitBtn.disabled = true;
          };
        });
      };

      //- LOGIN BTNS. BEH.
      if (loginNextBtn) {

        loginNextBtn.addEventListener('click', e => {

          e.preventDefault();           
          
          document.getElementById("account_question").style.display = 'none';
          document.getElementById("password_question").style.display = 'block';
          document.getElementById("email_form_group").style.display = 'none';
          e.target.style.display = "none";
          document.getElementById("password_form_group").style.display = 'block';
          document.getElementById("login_back_btn").style.display = 'block';
          document.getElementById("login_submit_btn").style.display = 'block';
        });
      };

      if (loginBackBtn) {

        loginBackBtn.addEventListener('click', e => {

          e.preventDefault();

          document.getElementById("account_question").style.display = 'block';
          document.getElementById("password_question").style.display = 'none';
          document.getElementById("email_form_group").style.display = 'block';
          e.target.style.display = "none";
          document.getElementById("password_form_group").style.display = 'none';
          
          loginNextBtn.disabled = false;
          loginNextBtn.style.display = 'block';

          loginSubmitBtn.style.display = 'none';
        });
      };

      if(loginSubmitBtn) {

        loginSubmitBtn.addEventListener('click', e => {
          
          loginSubmitBtnTxt.innerText = ``;
          loginSubmitBtn.style.backgroundColor = `transparent`;
          loginSubmitBtn.style.border = `none`;
          appActivityInd.classList.add(`spinner-border`, `text-dark`, `spinner-border-sm`);
        });
      };
    })();