.card {
   margin: var(--card-margin-outside);
   margin-bottom: 0;
   margin-right: 0;
   cursor: pointer;
   
   margin-right: 0;
   margin-left: 0;

}

.cluster-feature-card {
   margin-bottom: var(--card-margin-outside);
   background-color: white;
   border: 1px solid rgba(25, 25, 26, 0.3);
   border-radius: 10px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   box-shadow: 0 2px 3px 0 rgb(50 50 50 / 11%);
   cursor: pointer;
   
   width: 100%;
}

.cluster-feature-card:first-of-type {
   margin-top: var(--card-margin-outside);
}

/* .cluster-feature-card:hover {
   background-color: var(--card-light-grey);
   box-shadow: 0 1px 2px 0 rgba(25, 25, 26, 0.3), 0 2px 6px 2px rgba(60,64,67,.15);
   box-shadow: 1px 1px 2px rgba(74, 74, 74, 0.2);
   border-image: linear-gradient( 270deg, #6E60F9 0%, #2F9FC5 100% ) 1;
} */

.cluster-feature-card:hover {
   border: 1px solid orange;
   border: 1px solid slateblue;
   background-color: #eef3fa;
}

.cluster-feature-card.selected {
   border: 1px solid orange;
   background-color: rgba(255, 248, 220, 0.8);
}

.cluster-feature-card .card-content-wrapper {
   display: grid;
   grid-template-columns: auto 1fr;
   grid-template-rows: auto 1fr;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

.card-media-wrapper {
   padding: var(--card-padding-inside);
   display: grid;
   grid-template-rows: repeat(2, auto);
}

.card-media-wrapper .feat-admin-avatar {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   position: relative;
}

.feat-admin-avatar img:hover {
   /* TODO */
   /* content: "";
   background-color: pink; */
   opacity: 0.7;
}

.feat-admin-avatar > img {
   border-radius: 50%;
   width: 45px;
   height: 45px;
   object-fit: cover;
   vertical-align: middle;
   font-size: 0.5rem;
   background-color: lightgoldenrodyellow;
}

.card-text-wrapper {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr;
}

.card-text-top {
   padding-left: 3px;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr .55fr;
   line-height: 1.5;
}

.main-card-text {
   display: flex;
   flex-direction: column;
}

.main-card-text > span:first-of-type {
   padding-top: 5px;
   font-weight: 600;
   font-size: var(--cluster-feature-card-header-text);
}

.main-card-text > span:last-of-type {
   font-size: var(--cluster-feature-card-detail-text);
}

.card-pills {
   /* color: white;
   background-color: #0D6EFD;
   background-color: #576574; */
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1rem 0.8fr;
}

.card-pills > span {
   margin-right: 5px;
   margin-top: 5px;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   font-size: 0.7rem;
   font-weight: bold;
   letter-spacing: -0.5px;
   color: inherit;
   border-bottom: 4px solid lightgrey;
   min-height: 1rem;
}

.card-pills > span:hover {
   border-bottom: 4px solid grey;
}

.card-text-bottom {
   margin-bottom: 2px;
   font-size: var(--cluster-feature-card-detail-text);
   font-weight: lighter;
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
}

.card-text-bottom > div:hover {
   background-color: slateblue;
   color: white;
}

.card-text-bottom > div > span {
   padding: 1px 3px 0 3px;
   max-width: 90px;
   font-weight: light;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

#feat_card__feat_id {
   max-width: 95px;
   display: flex;
   justify-content: flex-start;   
}

.card-text-bottom > div > span:first-child {
   border-right: 1px dotted var(--grey-line-200);
   background-color: 1px solid lightgrey;
}