header.header-wrapper {
   grid-area: header;
   margin: 0;
   margin-left: var(--base-app-pad);
   margin-bottom: var(--base-app-pad);
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   font-size: var(--header-text-font-size);
   z-index: var(--z4);

   font-family: 'Roboto', sans-serif;
}

.navbar__container {
   background-color: #bfbfbf;
   background-color: white;
   color: black;
}

.navbar__container .hide-on-small .navbar-brand > span {
   /* font-family: 'IBM Plex Sans', sans-serif; */
   color: darkolivegreen;
   font-size: 0.95rem;
   font-weight: normal;
   letter-spacing: -0.6px;
}

.app-activity-indicator-wrapper {
   border-left: 4px solid orangered;
   border-left: 4px solid #f39c12;
   width: 5px;
   background: white;
   opacity: .3
}

.app-activity-indicator-wrapper.reveal {
   border-left: none;
   display: grid;
   place-items: center;
   background-color: orangered;
   background-color: #f39c12;
   background-color: #ffc107;
   width: 45px;
   transition: all ease-out .3s;
   opacity: 1;
}

.navbar-nav > li.nav-item > a {
   color: black;
}

.navbar-nav > li.nav-item,
.navbar-nav > li.user-nav-item .dropdown > a {
   display: flex;
   align-items: center;
}

/* .navbar-nav > li.user-nav-item {
   border: 1px solid orange;
} */

#topbar_user_drop .account-user-name {
   font-size: 0.85rem;
   letter-spacing: -0.4px
}

#topbar_user_drop span {
   padding: 0 2.5px;
}


#navbarNav ul.dropdown-menu li {
/* li.nav-item.user-nav-item ul.dropdown-menu > li { */
   padding: 0;
}

li.nav-item.user-nav-item ul.dropdown-menu li > a.dropdown-item {
   padding-top: 5px;
   padding-bottom: 5px;
}

li.nav-item.user-nav-item ul.dropdown-menu li > a.dropdown-item > span {
   font-size: 0.75rem;
   font-weight: bold;
   letter-spacing: -0.3px;
}

#topbar_user_drop > span:last-of-type {
   /* background-color: aliceblue; */
}

#topbar_user_drop .account-user-avatar > img {
   width: 25px; height: 25px;
}

@media only screen and (min-width: 992px) {

	.navbar__container {
		display: flex;
		align-items: center !important;
		justify-content: space-between !important;
      min-height: var(--floating-header-height);
	}

   .navbar__container .business-logo > img {
      margin: 5px 0;
      height: 30px;
   }

	.navbar-brand.second {
		display: none !important;
	}

	#navbarNav ul li {
      /* padding: 0 25px; */
      padding: 0 10px;
	}

	#navbarNav {
		/* padding-left: 50px; */
		padding-left: 25px;
	}
}


@media only screen and (max-width: 991px) {

	.hide-on-small {
		display: none;
	}


	a.nav-link {
		padding-top: 20px;
		text-align: center;
	}
}