section.left-pane-container {
   grid-area: left-pane;
   margin: 0;
   margin-right: 10px;
   border: 1px solid grey;	
   overflow: footer;
   z-index: var(--zmax);
}

.left-pane-content {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto calc(100vh - 90px);
   grid-template-areas: 
      'left-pane-s1'
      'left-pane-s2';
   font-size: var(--pt7r-font);
}

.left-pane-content > div {
   border: 3px dashed black;
}

.left-pane-content .search-wrapper {
   padding: 3px;
   grid-area: left-pane-s1;
   background-color: white;
}

.search-input-group {
   margin: 3px;
   display: flex;
   flex-direction: row;
   width: 100%;
   border: 1px solid black;
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
}

.search-input-group input {
   width: 100%;
   border: none;
}

.search-input-group input[type="search"]::-webkit-input-placeholder,
.search-input-group input[type="search"]::placeholder {
   padding-left: 10px;
   color: red;
}

.left-pane-content .search-action {
   color: grey;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   width: auto;
}
   
.left-pane-content .results-container {
   grid-area: left-pane-s2;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr auto;
   position: relative;
   background-color: white;
}

#results_scroll_top_button {
   position: absolute;
   bottom: 45px;
   right: 15px;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 1px solid var(--theme-color);
   background-color: white;
   z-index: var(--z-idx-2);
}
      
.results-header {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   background-color: inherit;
}

.results-header > div {
   flex: 1;
}

.results-header .results-count {
   flex: 1;
   display: flex;
   justify-content: center;
}

.results-body {
   overflow-x: hidden;
   overflow-y: auto;
   position: relative;
   font-family: 'Fira Sans', sans-serif;
   font-family: 'Roboto', sans-serif;
}

.results-body .results-list-wrapper {
   position: relative;
}

.list-controls-wrapper {
   padding: 0 5px 0 15px;
   /* display: none; */
}

.list-controls-wrapper > input {
   padding-left: 10px !important;
   border-radius: 50% !important;
}

#results_filter_button {
   position: absolute;
   top: 45px;
   right: 15px;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   border: 1px solid white;
   z-index: var(--zmax);
   display: none;
}

.result-item-modal {
   padding: 10px 10px 10px 10px;
   background-color: #e056fd;
   background-color: #534292;
   background-color: #4cd137;
   box-shadow: 
               0 1px 2px 0 rgba(60,64,67,.3), 
               0 2px 6px 2px rgba(60,64,67,.15);
               
   display: grid;
   grid-template-rows: .3fr .5fr 1fr .3fr;
   line-height: 2;
   position: relative;
   display: none;
}

.result-item-modal.active {
   height: 30vh;
   transition: height ease-out 0.3s;
}

.result-item-modal-title > span {
   font-size: 16px;
}

.result-item-modal-subtext {
   line-height: 1.5;
}

.modal-person-avatar img {
   width: 60px;
   height: 60px;
}

.modal-person-details,
.modal-person-contact {
   width: 90%;
}

.result-item {
   padding: 8px 5px 8px 15px;
   cursor: pointer;
}

.result-item:hover {
   background-color: lightgrey;
}

.result-item.is-active {
   background-color: lightgrey;
   opacity: 1;
}

.result-item.dimmed {
   background-color: none;
   opacity: .3;
}

.result-item span {
   font-size: 10px;
}

.result-item-pill {

   margin: 3px 0;
   margin: 4px 0;

   background-color: lightgrey;
   border-radius: 5px;
}

.result-item-pill .pill-wrapper {
   padding: 2px;
   border: 1px solid wh1ite;
   border-radius: 3px;
}

.result-item-pill .pill-wrapper > span {

   padding: 2px 5px 2px 0;
   padding: 2px 5px;

   margin: 1px 0;
   font-family: 'Fira Sans', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
   /* background-color: whitesmoke;    */
}

.result-item-header {
   width: 100%;
}

.result-item-titles > a {
   font-size: 13.5px;
   font-weight: 500;
   font-family: 'Roboto', sans-serif;
   font-size: .9rem;
   font-weight: 600;
   letter-spacing: -0.5px;
}

.result-item-subtitle {
   font-size: 11px;
   font-weight: 400;
   color: rgba(136, 136, 136, 0.877);
}

.result-item-body,
.result-item-footer {
   /* padding-top: 5px; */
}

.result-item-body {
   font-size: 11.5px;
}

.result-item-footer {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-end;
}

.result-item-footer > span {
   padding-right: 2px;
   font-size: 10px;
   /* font-weight: 400;
   color: #333; */
   /* color: rgba(136, 136, 136, 0.877); */
   font-weight: 400;
}

.result-item-footer > span:hover {
   color: rgba(136, 136, 136, 0.877);
   color: #252e31;
}

.result-item > *,
.result-item > * > * {
   line-height: 1.35;
   line-height: 1.4;
   line-height: 1.2;
}