section.right-pane-container {
   grid-area: right-pane;
   margin-bottom: 10px;
   margin-bottom: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.right-pane-container .pane-controls {
   z-index: var(--z-idx-2);
}

.right-pane-content {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr auto;
   grid-template-rows: 1fr;
   font-size: 0.6rem;
   height: 100%;
   z-index: var(--z-idx-2);
}

/* REMOVE */
.right-pane-content {
   border: 3px dashed darkorchid;
}
      
.right-pane-content-body {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr;
   background-color: wheat;
   background-color: white;
   opacity: 0.8;
   opacity: 1;
   transition: opacity .2s ease-in;
}

.right-pane-content-body:hover {
   opacity: 1
}

.right-pane-content-body button.nav-link {
   background-color: #0000000D;
}

.tab-content .tab-pane {
   height: 100% !important;
}

.tab-content .agc-insights-tab-content {
   background: paleturquoise;
   height: 100%;
   font-family: 'Fira Sans' sans-serif !important;

}

.agc-insights-tab-content.active,
.agc-details-tab-content.active {
   display: none;
}

.agc-insights-tab-content.active {
   display: flex;
   flex-direction: column;
}

.agc-details-tab-content.active {
   display: grid;
   grid-template-rows: 40vh 45px calc(40vh - 60px) auto;
}

.agc-details-tab-content .tab-pane-footer,
.agc-details-tab-footer {
   max-height: 5vh;
}

.parcelization-map,
.geo-cluster-summary,
.plot-owner-details,
.plot-detail-map {
   overflow: hidden;
   height: 100%;
}

.parcelization-map,
.plot-detail-map {
   position: relative;
   overflow: hidden;
}

.parcelization-map .map-overlay {
   position: absolute;
   right: 10px;
   top: 10px;
   border-radius: 50px;
   display: grid;
   place-items: center;
   height: 35px; width: 35px;
   cursor: pointer;
   background-color: white;
   border: 1px solid #333;
   z-index: var(--z-idx-3);
}

.geo-cluster-summary .wrapper {
   margin: 3px 0;
   margin-top: 0;
   /* padding: 5px 0; */
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   background-color: whitesmoke;
   overflow: hidden;

   width: 100%;
   border-radius: 5px;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
   border: 1px solid var(--grey-line-200);
   border-top: none;
   background-color: #f2f2f2;
}

.geo-cluster-summary .wrapper > div {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   align-items: center;
   font-family: 'Roboto', sans-serif;
   line-height: 1.4;
}

.geo-cluster-summary .wrapper > div > span {
   flex: 1;
}

.geo-cluster-summary .wrapper > div > span:first-of-type {
   font-family: 'Roboto', sans-serif;
   font-size: var(--tiny-text);
   font-weight: 300;
}

.geo-cluster-summary .wrapper > div > span:last-of-type {
   font-family: 'Roboto', sans-serif;
   font-size: 0.7rem;
   font-weight: 600;
}

.plot-owner-details {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr;
   background-color: white;
   background-color: #f8f8f8;
   background-color: #eef3fa;
   min-height: max-content;
}

.plot-owner-details .plot-owners-list-body {
   padding: var(--card-margin-outside);
   padding-top: 0;
   overflow-y: scroll;
}

.plot-detail-map {
   background-image: url('../../assets/images/noun-contour-topography.svg');
   background-color: azure;
}