section.right-pane-container {
   grid-area: right-pane;
   margin-bottom: 10px;
   margin-bottom: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   overflow: hidden;

   border: 1px solid grey;
   box-shadow: 
   0 4px 8px 0 rgba(0,0,0,0.2),
   0 7px 20px 0 rgba(0,0,0,0.2);
   /* z-index: var(--zmax); */
}

.right-pane-container .pane-controls {
   z-index: var(--z-idx-2);
}

.right-pane-content {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr auto;
   grid-template-rows: 1fr;
   font-size: 0.6rem;
   height: 100%;
   z-index: var(--z-idx-2);
}

/* REMOVE */
.right-pane-content {
   /* border: 3px dashed darkorchid; */
   max-height: 89vh;
}

.right-pane-content-body {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto 1fr;
   background-color: white;
   opacity: 0.8;
   opacity: 1;
   transition: opacity .2s ease-in;
   
   height: 100%;
}

.right-pane-content-body:hover {
   opacity: 1
}

.right-pane-content-body button.nav-link {
   background-color: #0000000D;
}

.tab-content .tab-pane {
   height: 100% !important;
}

.tab-content .agc-insights-tab-pane {
   background: paleturquoise;
   height: 100%;
   font-family: 'Fira Sans' sans-serif !important;

}

.agc-insights-tab-pane.active,
.cluster-details-tab-pane.active {
   display: none;
}

.agc-insights-tab-pane.active {
   display: flex;
   flex-direction: column;
}

.cluster-details-tab-pane.active {
   display: grid;
   /* grid-template-rows: 40vh 45px calc(40vh - 60px) auto; */
   grid-template-rows: 35vh 45px calc(43vh - 20px);
   grid-template-rows: auto 45px 40vh;
}

.cluster-details-tab-pane .tab-pane-footer {
   max-height: 5vh;
}

.parcelization-map,
.cluster-summary,
.cluster-features-listing,
.plot-detail-map {
   overflow: hidden;
   height: 100%;
}

.parcelization-map,
.plot-detail-map {
   position: relative;
   overflow: hidden;
}

.parcelization-map .map-overlay {
   position: absolute;
   right: 10px;
   top: 10px;
   border-radius: 50px;
   display: grid;
   place-items: center;
   height: 35px; width: 35px;
   cursor: pointer;
   background-color: white;
   border: 1px solid #333;
   z-index: var(--z-idx-3);
}

.cluster-summary .wrapper {
   margin: 3px 0;
   margin-top: 0;
   /* padding: 5px 0; */
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   background-color: whitesmoke;
   overflow: hidden;

   width: 100%;
   border-radius: 5px;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
   border: 1px solid var(--grey-line-200);
   border-top: none;
   background-color: #f2f2f2;
}

.cluster-summary .wrapper > div {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   align-items: center;
   font-family: 'Roboto', sans-serif;
   line-height: 1.4;
}

.cluster-summary .wrapper > div > span {
   flex: 1;
}

.cluster-summary .wrapper > div > span:first-of-type {
   font-family: 'Roboto', sans-serif;
   font-size: var(--tiny-text);
   font-weight: 300;
}

.cluster-summary .wrapper > div > span:last-of-type {
   font-family: 'Roboto', sans-serif;
   font-size: 0.8rem;
   font-weight: 600;
}

.cluster-features-listing {
   display: grid;
   grid-template-columns: 1fr;
   /* grid-template-rows: auto 1fr; */
   grid-template-rows: auto 1fr auto;
   background-color: #f8f8f8;
   background-color: #eef3fa;
   background-color: white;
   min-height: max-content;
}

.cluster-features-listing-body {
   padding: var(--card-margin-outside);
   padding-top: 0;
   background-color: #f8f9fa;
   background-color: #e4ebf1;
   overflow-y: scroll;

   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.cluster-feature-wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   position: relative;
}