/* VERTICAL NAV SIDEBAR */
.app-container .nav.flex-column {
	height: 100vh !important;
	background-color: #2f3640; /* gb-electromagnetic */
	background-color: #666;
	background-color: #2d3436; /* us-dracula-orchid */
	min-width: 40px;
	transition: min-width ease-out .1s;
}

#v_pills_tab.expanded {
	min-width: 100px;
}

.nav-pills button, 
.nav-pills button.nav-link {
	border-radius: 0;
}

.nav-pills button.nav-link.active {
	background-color: grey;
	border-left: 3px solid orange;
}

.nav-pills button {
	background: white;
	height: 40px;
}

.nav-pills button#app_sidebar_toggle_button {
	background: white;
	height: 35px;
}

.app-container .me-3 {
	margin: 0 !important;
}

.app-container .me-3 button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0 3px;
	font-size: 0.60rem;
	color: white !important;
	cursor: pointer;
}

.app-container .me-3 button:hover {
	background-color: grey;
	color: white;
}

.bs-custom.flex-column-wrapper {
	display: grid;
	height: 100vh;
	grid-template-rows: 1fr auto;
}


/* MISC */
hr.dropdown-divider {
	margin: 0;
	border-top: 1px solid var(--light-grey-line);
}


/* NAVBAR */
.navbar {
	padding: 0 !important;
}

.navbar-brand {
	margin-left: 1rem;
	padding: 0 !important;
	font-size: var(--header-brand-font-size);
	display: flex !important;
	flex-direction: row;
	align-items: center;
}

.navbar-brand > span {
	margin: 0 .5rem !important;
}


/* NAV LINK */
button.nav-link {
	padding: 0.1rem 0.5rem;
	width: 100%;
}

a.nav-link {
	padding: 0 0.5rem;
	width: 100%;
}


/* CARDS */
.card {
	border-radius: 0;
}


/* BUTTONS */
button.btn.stacked {
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-size: 0.6rem;
}

button.btn {
	line-height: 0.7 !important;
	text-align: center;
}

.btn-group {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	justify-content: center;
}

.btn-group .btn {
	font-size: var(--pt7r-font);
	width: 100%;
	display: flex;
	align-items: center;
	font-family: 'FrancophilSans', sans-serif;
	font-family: 'Fira Sans', sans-serif;
	font-size: 11.5px;
}

select.form-select-sm {
	padding: 0;
}


/* DROPDOWN MENU*/
ul.dropdown-menu {
	font-size: var(--pt7r-font);
	font-family: 'FrancophilSans', sans-serif;
	font-family: 'Fira Sans', sans-serif;
	font-size: 11.5px;
}

ul.dropdown-menu > li {
	height: min-content;
}

ul.dropdown-menu .dropdown-item {
	padding-top: 0;
	padding-bottom: 0;
}


/* PAGINATION */
nav > ul.pagination,
nav > ul.pagination > li > a {
   padding: 0;
   margin: 0;
}

nav > ul.pagination > li > a {
   padding: 0 10px
}


/* TOGGLE SLIDER */
.form-check.form-switch {
	margin: 0;
	padding: 0;
	display: flex !important;
	flex-direction: row !important;
	align-items: center;
	justify-content: space-between !important;
	width: 100%;
}

.form-check.form-switch > input {
	margin-left: var(--pad15p);
}

.form-check.form-switch > label {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	cursor: pointer;
}


/* ACCORDION */
.accordion-header button {
	font-size: inherit !important;
}

div.accordion.accordion-flush {
	font-family: inherit !important;
}

button.accordion-button {
	padding: 0 var(--pad10p);
}

.accordion-body {
	padding: 0;
}