/* @media screen and (min-width: 968px) { */
   @media screen and (min-width: 850px) {

      body {	
         /* THIS MAKES THE PAGE RESIZE WITH WINDOW */
         display: flex;
         overflow: hidden;
      }

      .landing-page-container {
         width: 100vw;
         height: 100vh;
         color: black;

         display: grid;
         grid-template-columns: 1fr 2fr;
      }

      #landing_page_map_cont {
         width: 100%;
         height: 100vh;

         /* background-image: url('../../assets/images/noun-contour-topography.svg'); */
         /* background-color: orchid; */

         /* background-image: url('../../assets/mapbox-3d-map.mp4'); */
         /* object-fit: cover; */
      }

      video#landing_page_video {
         height: 100vh;
         object-fit: cover;
         max-width: 100%;
         min-height: 100%
      }
   
   }