.mapboxgl-popup-content {
   width: 100%;
   padding: 5px !important;
   font-size: 10.5px;
   font-family: "Roboto", sans-serif;
}

.mapboxgl-popup-close-button {
   margin: 5px;
   width: 20px;
   height: 20px;
   position: absolute;
   right: 0;
   top: 0;
   border: none;
   align-items: center !important;
   border-radius: 50% !important;
   font-size: 1rem;
   background-color: grey !important;
   color: white !important;
   cursor: pointer;
}

.mapboxgl-popup-body {
   width: 100%;
   line-height: 1.5;
}

.mapboxgl-popup-text-wrapper {
   padding: 0 10px;
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   align-items: center;
   font-size: var(--cluster-feature-card-detail-text);
}

/* .mapboxgl-popup-text-wrapper > span:nth-of-type(1) { */
.mapboxgl-popup-text-wrapper > span {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   max-width: 150px;
}

.mapboxgl-popup-title {
	font-size: var(--cluster-feature-card-header-text);
	font-weight: 600;
}

.mapboxgl-popup-media-wrapper {
   padding-left: 5px;
   border-radius: 50%;
}

.mapboxgl-popup-media-wrapper img {
   width: 45px;
   height: 45px;
   object-fit: cover;
   vertical-align: middle;
   border-radius: 50%;
}

.agc-info-overlay {
   margin: 0;
   padding: 12px;
   -webkit-font-smoothing: antialiased;
   top: 0;
   left: 0;
   width: auto;
   height: auto;
   font-family: "Roboto", sans-serif;
   font-size: 14px;
   color: white;
   position: absolute;
   z-index: 2;
   background-color: rgba(31,51,73,.5)!important;
}

.cluster-map-close-btn {
   -webkit-font-smoothing: antialiased;
   box-sizing: inherit;
   margin: 0;
   border: 0;
   background: 0 0;
   color: inherit;
   font: inherit;
   height: 25px;
   width: 25px;
   text-align: left;
   appearance: none;
   cursor: pointer;
   border-radius: 9999px!important;
   position: absolute!important;
   top: 0!important;
   right: 0!important;
   margin-top: 12px!important;
   margin-right: 12px!important;
   padding-top: 12px!important;
   padding-bottom: 12px!important;
   padding-left: 12px!important;
   padding-right: 12px!important;
   background-color: rgba(31,51,73,.5)!important;
   z-index: 2!important;
}

.leaflet-map-overlay {
   -webkit-font-smoothing: antialiased;
   padding: 6px 25px;

   position: absolute;
   top: 0;
   right: 0;
   height: auto;
   width: auto;
   min-width: 260px;

   box-sizing: inherit;
   color: white;
   background-color: var(--map-overlay-deep-blue) ;
   font-family: "Roboto", sans-serif;
   text-align: center;

   z-index: 999;
}

.leaflet-map-overlay-extended {
   display: none;
   text-align: left;
}

.plot-metadata-label {
   min-width: max-content;
   height: auto !important;

   font-size: 9px;
   font-family: "Roboto", sans-serif;
   color: black;
   background-color: white;
   border: 2px solid black;

   display: grid !important;
   /* REMOVE */
   /* grid-template-columns: 1fr 1.5fr; */

   border-radius: 3px;
   -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
   -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
   box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);

}

.plot-metadata-label--chunk-size {
   margin: auto 0;
   padding: 0 4px;
   height: 100%;
   max-width: fit-content;
   background-color: black;
   font-size: 10.5px;
   letter-spacing: -0.3px;
   color: white;
   border-right: 2px solid black;

   /* CENTER THE TEXT IN THE GRID ITEM */
   display: grid;
   grid-template-rows: 1fr 1fr;
}

.plot-metadata-label--chunk-size span {
   display: flex;
   align-items: center;
}

.metadata-label--owner-info,
.metadata-label--owner-info__avg  {
   padding: 4px;
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   font-weight: bold;
}

.metadata-label--owner-info__avg {
   font-size: 0.7rem;
   letter-spacing: -0.5px;
}

.metadata-label--turn-by-turn {
   display: none;
}

.polygon-vertex-coords-label--lg,
.plot-polygon-vertex-coords-label,
.polygon-vertex-dist-label--lg,
.polygon-vertex-dist-bearing-label--lg,
.plot-polygon-vertex-dist-label,
.plot-polygon-vertex-dist-bearing-label {
   font-family: "Roboto", sans-serif;
   letter-spacing: -0.1;
   font-weight: bold;
   color: black;
   display: flex !important;
   align-items: center !important;
   justify-content: space-between !important;
}

.polygon-vertex-coords-label--lg,
.plot-polygon-vertex-coords-label {
   padding: 2px;
   padding-left: 0;
   background-color: white;
   border: 1px solid black;

   /* box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
   -webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1);
   -moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,1); */
}

.plot-polygon-vertex-coords-label {
	width: 100px !important; /* OVERIDE .leaflet-marker-icon STYLING */
	height: 15px !important; /* OVERIDE .leaflet-marker-icon STYLING */
   font-size: 7px;
}

.polygon-vertex-coords-label--lg {
   padding-right: 8px;
   font-size: 9px;
   width: max-content !important;
	height: 17px !important;
}

.polygon-vertex-coords-label--lg span,
.plot-polygon-vertex-coords-label span {
   padding: 2px;
   margin-right: 3px;
   color: white;
   background-color: black;
}

.plot-polygon-vertex-coords-label span {
   border: 1px solid black;
}

.polygon-vertex-dist-label--lg,
.polygon-vertex-dist-bearing-label--lg,
.plot-polygon-vertex-dist-label,
.plot-polygon-vertex-dist-bearing-label {
   padding: 2px;
	width: 35px !important; /* OVERIDE .leaflet-marker-icon STYLING */
	height: 15px !important; /* OVERIDE .leaflet-marker-icon STYLING */
   font-size: 8px;
	background-color: #00cec9;
	border: 1px solid black;
   justify-content: center !important;
}

.polygon-vertex-dist-bearing-label--lg,
.plot-polygon-vertex-dist-bearing-label {
   display: none !important;
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 700px) and (max-device-width: 1600px) {
   /* and (-webkit-min-device-pixel-ratio: 1) {  */

      .plot-metadata-label {      
         display: grid !important;
         grid-template-columns: auto auto 50px;
         grid-template-columns: minmax(min(60px), auto) auto 50px;
      }

      .metadata-label--turn-by-turn {
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: lightgrey;
         color: #808080;
         font-size: 15px;
      }
      
      .metadata-label--turn-by-turn:hover {
         background-color: pink;
         background-color: #00cec9;
         color: black;
      }
      
      .metadata-label--turn-by-turn > span {
         height: 100%;
         width: 100%;
         display: grid;
         place-items: center;
      }
      .metadata-label--turn-by-turn > span:hover {
         transform: scale(1.2);
      }
      
      .metadata-label--turn-by-turn > a:active {
         background-color: lightgrey;
         color: grey;
         /* filer 3500 gas 3200 comp 55k, exp v. 6000 oil 4000 */
      }
      
      .leaflet-map-overlay-extended {
         margin: 0;
         padding: 6px 15px;

         position: absolute;
         top: 30px;
         right: 0px;
         height: auto;
         width: inherit;
         background-color: white;
         color: var(--map-overlay-deep-blue);
         font-family: "Roboto", sans-serif;

         display: none;
         z-index: 1000;      

         animation-name: slide-down;
         -webkit-animation: slide-down 0.1s ease;
         animation: slide-down 0.1s ease;
      }

      @keyframes slide-down {
         0% {
            height: 0px;
         }
         100% {
            height: 100%;
         }
      }
      
      .plot-polygon-vertex-coords-label {
         display: block !important;
      }

      .polygon-vertex-dist-label--lg,
      .plot-polygon-vertex-dist-label {
         display: none !important;
      }
      
      .plot-polygon-vertex-dist-bearing-label {
         display: block !important;
         width: 90px !important; /* OVERIDE .leaflet-marker-icon STYLING */
      }

      .polygon-vertex-dist-bearing-label--lg {
         display: flex !important;
         width: 100px !important; /* OVERIDE .leaflet-marker-icon STYLING */
         height: 17px !important; /* OVERIDE .leaflet-marker-icon STYLING */
         font-size: 9px;
      }
   }
   