/* VISIBILITY */
.hide {
   display: none !important;
}

.show {
   display: block !important;
}


/* BLUR */
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
   .blur {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(122, 157, 37, 0.2);
   }
}


/* BUTTON RIPPLE EFFECT */
button {
   position: relative;
   overflow: hidden;
}

span.ripple-circle {
   position: absolute;
   border-radius: 50%;
   transform: scale(0);
   animation: ripple 600ms linear;
   background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
   to {
     transform: scale(4);
     opacity: 0;
   }
}


/* SUB-SCRIPT & SUPER-SCRIPT */
.super-scr {
   position: relative;
   bottom: 1.0em;
   left: 0.1em;
   left: 0.05em;
}

.sub-scr {
   position: relative;
   top: 1.0em;
   right: 0.1em;
}


/* POSITION */
.pos-relative {
   position: relative;
}


/* LINE HEIGHTS */
div.line-pt6 {
	line-height: .6;
}

div.line-height-pt6 {
	line-height: .6;
}

div.line-3pt {
	line-height: 3;
}

div.line-1pt {
	line-height: 1;
}


/* PADDING */
.pad-round-5px {
   padding: 5px
}

.pad-b-5px {
   padding-bottom: 5px;
}

.pad-lr-5px {
   padding: 0;
   padding-left: 5px;
   padding-right: 5px
}

.pad-lr-10px {
   padding: 0;
   padding-left: 10px;
   padding-right: 10px
}

.pad-tb5p {
   padding: 5px 0;
}

.pad-tr-5px {
   padding: 0;
   padding-top: 5px;
   padding-right: 5px;
}

.pad-trb-5px {
   padding: 0;
   padding-top: 5px;
   padding-right: 5px;
   padding-bottom: 5px;
}


/* DIVIDERS */
.v-divider-grey {
   border-right: 1px solid var(--grey-line-100);
   height: 100%;
}

.h-divider-grey-50 {
   border-bottom: 1px solid var(--grey-line-50);
   height: 100%;
}

.h-divider-grey-100 {
   border-bottom: 1px solid var(--grey-line-100);
   height: 100%;
}


/* GRID */
.grid-1col {
   display: grid;
   grid-template-columns: 1fr;
}

.grid-2col {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}


/* FLEX */
.flex-center {
   display: flex;
   align-items: center;
}

.justify-start {
   justify-content: flex-start;
}

.flex-row-center {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.flex-row-start {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}

.flex-row-btw,
.flex-row-center-btw {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

/* .flex-row-start, */
.flex-row-center-start {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
}

.flex-end,
.flex-row-center-end {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-end;
}

.flex-row-center-around {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.flex-col-start {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
}

.flex-col-center-btw {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.flex-col-center {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.flex-col-center-start {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.flex-col {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.flex-end {
   align-items: flex-end;
}

.flex-1 {
   flex: 1;
}


.notification-badge {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   color: white;
}

.notification-badge.tiny-badge {
   padding: 4px;
   top: -1px;
   right: 5px;
   height: 7px; width: 7px;
}

.notification-badge.small-badge {
   padding: 6px;
   top: -1px;
   right: -1px;
   height: 10px; width: 10px;
}

.notification-badge.shadow-badge {
   box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
}

.notification-badge.orange-badge {
   border: 2px solid white;
   background-color: darkorange;
}

.notification-badge.red-badge {
   background-color: red;
   border: none;
}

.orange-border-1px {
   border: 1px solid darkorange;
}

.rounded-left-borders-10px {
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}