section.hidden-pane-container {
   grid-area: hidden-pane;
   margin: 0px;
   margin-left: 0;
   border: 1px solid yellow;
   display: flex;
   flex-direction: column;
   overflow-y: hidden;
}

.hidden-pane-container .pane-controls {
   z-index: var(--z-idx-2);
}

.filter-controls-wrapper {
   /* border: 1px solid orange; */
   box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
   overflow-y: scroll;
}

.hidden-pane-content {
   max-height: calc(100vh - 43px);
   height: 100%;
   border: 1px solid red;
   background-color: white;
   color: black;

   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr auto;

   font-size: var(--pt7r-font);
   z-index: var(--z-idx-2);
}

.selected-filters-wrapper {
   padding-bottom: 5px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: whitesmoke;
   max-height: 25vh;
   overflow-y: auto;
}

.filter-groups {
   padding: 0 5px;
}

fieldset.filter-group-pills {
   margin-bottom: 5px;
   border: 1px solid var(--grey-line-200);
   display: flex;
   flex-direction: column;
   max-width: max-content;
}

legend.filter-group-title {
   margin: 0;
   padding-left: 5px;
   line-height: 1.9;
   font-size: var(--filter-group-font-size);
   font-size: var(--pill-font-size);
}

.filter-group-header {
   line-height: 1.8;
   font-size: var(--filter-group-font-size);
}

.filter-group-pills {
   /* display: grid;
   grid-template-columns: repeat(auto-fit, minmax(80px, auto)); */
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   font-size: var(--pill-font-size);
}

.filter-group-pills .filter-pill {
   padding-left: var(--pill-text-padding);
   border: 1px solid whitesmoke;
   background-color: grey;
   display: grid;
   place-items: center;
   grid-template-columns: 1fr 17px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.filter-pill > span:last-of-type {
   min-width: 23px;
   padding: 0 var(--pill-text-padding);
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.filter-pill > span:last-of-type:before {
   content: "\2716";
}

.filter-pill > span:last-of-type:hover:before {
   content: "";
}

.filter-pill > span:last-of-type:hover:after {
   content: "\01F534";
}



/* SANDBOX */
.hidden-pane-content ul.components {
   margin: 0;
   background-color: whitesmoke;
   border: 1px solid black;
}

.hidden-pane-content ul.components > li {
   border-bottom: 1px solid white;
}

.hidden-pane-content ul li a {
   padding: 0 var(--pad10p);
   font-size: 1.1em;
   display: block;
}

.hidden-pane-content ul li a:hover {
   color: #7386D5;
   color: white;
   background: grey;
}

.hidden-pane-content ul li.active>a, 
.hidden-pane-content [aria-expanded="true"] {
   /* background: #6d7fcc; */
   /* background-color: palegreen; */
}

.hidden-pane-content a[data-toggle="collapse"] {
   position: relative;
}

.hidden-pane-content .dropdown-toggle::after {
   display: block;
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-50%);
}

.hidden-pane-content ul > li > a {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   text-decoration: none;
}

/* SANDBOX */
/* .hidden-pane-content ul > li > ul {
   display: flex;
   justify-content: space-evenly;
}
.hidden-pane-content ul > li > ul > li {
   flex: 1;
}
.hidden-pane-content ul > li > ul > li > ul {
   display: flex;
   flex-direction: column;
} */

.hidden-pane-content ul > li > ul > li > a {
   font-size: 0.9em !important;
   padding-left: 30px !important;
   background-color: white;
   height: 25px;
}

/* REMOVE */
.hidden-pane-content ul > li > ul > li > ul > li > a {
   /* border: 1px dotted slateblue; */
}


/* SUB-MENUS */

.filters-submenu {
   max-height: calc(100vh - 400px);
   overflow-y: auto;
}

#states_submenu {
   padding-left: 10px;
}


/* ACCORDIONS */

.accordion-button:after {
   transition: none;
}

.accordion-body > div:hover {
   background: grey;
   color: white;
}

#poi_overlays_accordion_content .accordion-body .form-check {
   padding: 0 10px 0 30px;
   cursor: pointer;
}
